.textoVerde{
    color: #A0BE37;
}

.bg-green{
    background-color:#FAFCF5 ;
    
} 

.bg-grey{
    background-color: #E5E5E5;
    
} 



.accordion .accordion-item .accordion-button{
    text-decoration: none;
   
}
.accordion .accordion-item .accordion-header {
    background-color: rgb(92, 128, 139);
}
.accordion .accordion-item .accordion-header  button {
color:white;
}

.accordion-button {
 
    background-color:rgb(226, 167, 77);
  
  }

  .accordion-button:not(.collapsed){
      background-color:#A0BE37;
  }
  .big{
      font-size: larger;
  }
/* no sobrescribir las clases de boostrap*/ 
.btn-primary {
    color: #fff;
    background-color:  #A0BE37;
    border-color:  #A0BE37;
    outline: #A0BE37;
}

.btn-primary:hover{
    background-color:   #7CA432;
    border-color:  #A0BE37;


}
    .table td{
        /*color: #A0BE37;*/
      
    }

    .table td i{
        color: #A0BE37;
        padding: 0;
    }

    .table-image 
        td, th {
          vertical-align: middle;
        }
  
   
  
  
