.textoVerde{
    color: #A0BE37;
}

.bg-green{
    background-color:#FAFCF5 ;
    
} 

.bg-grey{
    background-color: #E5E5E5;
    
} 
.accordion-button {
     background-color:rgb(226, 167, 77);
  
  }
  /* el ultimo elemento de sus hermanos q sea accordion item tenga el button rojo */
.accordion-item:last-child .accordion-button{
    background-color:rgb(250, 235, 102);
  }
/*cuadno hay diversas reglas aplicadas a lo mismo hace caso a esto*/
  .accordion-button:not(.collapsed){
      background-color:#A0BE37 !important;
  }
  .big{
      font-size: larger;
  }

.btn-green {
   background-color: #A0BE37;
   color:white;
}

.btn-green:hover{
    background-color: #7CA432;
    border-color:  #A0BE37;
}
    .table td i{
        color: #A0BE37;
        padding: 0;
    }

    .table-image 
        td, th {
          vertical-align: middle;
        }
      
   
  
  
